In [2]:
import pandas as pd

In [4]:
lista = ['matematicas','historia','economia','programacion']

In [5]:
serie = pd.Series(data=lista, dtype='string')

In [6]:
print(serie)

0     matematicas
1        historia
2        economia
3    programacion
dtype: string

In [8]:
serie[3]

'programacion'

In [9]:
dicc={'Matematica':6,'historia':8,'economia':7,'programacion':9}

In [11]:
serie.size

4

In [12]:
serie.count()

4

In [14]:
#diccionario de listas
dic = {'nombre':['maria','antonio','pedro','julia'],
        'edad':[15,20,21,14],
        'grado':[1,5,6,1],
        'correo':['maria@gmail.com','anto@gmail.com','pedro@gmai.com','ju@gmail.com']}

In [15]:
df=pd.DataFrame(dic)

In [16]:
df.head()

    nombre  edad  grado           correo
0    maria    15      1  maria@gmail.com
1  antonio    20      5   anto@gmail.com
2    pedro    21      6   pedro@gmai.com
3    julia    14      1     ju@gmail.com

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nombre  4 non-null      object
 1   edad    4 non-null      int64
 2   grado   4 non-null      int64
 3   correo  4 non-null      object
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [ ]:
#df1=pd.read_csv('', sep='|', encoding='')

In [4]:
df2=pd.read_csv('contacto.csv', sep=';')

In [5]:
df2

  nombre     telefono
0   Juan  51948508806
1  Jossy  51958660734